@using ItemGeneratorModels

<div class="col">
    <div class="card" style="width: 15rem;">
        <div class="card-header" style="background-color: red">
            @Item.Name
        </div>
        <div class="card-body">
            <p class="card-text">@Item.History</p>
            <ItemStats Item="@Item"></ItemStats>

            @if (IsEquipped)
            {
                <button class="btn btn-danger" @onclick="OnUnequipClicked">Unequip this</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="OnEquipClicked">Equip this</button>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public Item Item { get; set; } = null!;
    [Parameter] public bool IsEquipped { get; set; }
    [Parameter] public EventCallback OnEquipClicked { get; set; }
    [Parameter] public EventCallback OnUnequipClicked { get; set; }
}
